<!DOCTYPE html>
<html lang="pt-br"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/resetStyle.css">
    <link rel="stylesheet" href="style/indexStyle.css">
    <title>empregosApp - Cadastro</title>
</head>
<body>

    <header>
        <div class="nav">
            <a href="/cadastrarCandidato">Cadastrar</a>
        </div>
    </header>

    <section class="main">    
        <img class="logo" src="images/Empregos App - logo.png" alt="Logo - Empregos App">
        <form action="/salvarUsuario" method="post">
            <!-- <label for="email"></label> -->
            <input type="email" id="email" class="email" name="email" placeholder="exemplo@gmail.com">

            <!-- <label for="senha"></label> -->
            <input type="password" id="senha" class="senha" name="senha">
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>